body{
    font-family: "Roboto", "sans-serif";
    margin: 0;
    background: #fff;
}

* a {
    text-decoration: none;
    color: inherit;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header_logo {
    font-family: "Shrikhand", "sans-serif";
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.location{
    background-color: darken(#f3f3f3, 3%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    gap: 10px;
    color: darken(#f3f3f3, 60%);
    height: 40px;

    &_icon {
        font-size: 0.8rem;
    }

    &_btn{
        border-style: none;
        background-color: darken(#f3f3f3, 3%);
        display: flex;
        justify-content: center;
    
        &::placeholder{
            color: darken(#f3f3f3, 60%);
            opacity: 1;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }
}


.explore{

    width: 100%;

    &_box{
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 35px 0;
        gap: 10px;
    }

    &_title{
        margin: 0;
        font-size: 1.3rem;
        padding: 0 75px;
        font-weight: 700;
    }

    &_text{
        margin: 0;
        font-size: 0.95rem;
        padding: 0 35px;
    }
    &_btn{
        color: #fff;
        box-shadow: 0 3px 10px 0 $color-secondary;
        border-radius: 90px;
        background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
        border: none;
        padding: 0 20px;
        margin-top: 15px;

        &:hover{
            box-shadow: 0 5px 10px $color-secondary;
            background: linear-gradient(180deg, lighten($color: $color-secondary, $amount: 5%) 0%, lighten($color: $color-primary, $amount: 5%) 100%);
        }
    }
}

.process{

    padding: 35px 16px;

    &_title{
        margin: 0;
    }

    &_box{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_stage{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        height: 55px;
        border-radius: 15px;
        background: #f6f6f6;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.13);
        margin-left: 6px;

        &:hover{
            background: lighten($color: $color-primary, $amount: 35%);
            box-shadow: 7px 7px 10px rgba(0,0,0,0.25);

            .process_stage_icon{
                color: $color-primary;
            }
        }

            &_number{
                width: 20px;
                height: 20px;
                margin-left: -8px;
                background: $color-primary;
                border-radius: 20px;
                color: #fff;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_icon{
                width: 16px;
                color: darken(#f3f3f3, 60%);
            }

            &_text{
                font-size: 0.9rem;
                font-weight: 500;
            }
    }
}

.restaurant{
    background-color: #f6f6f6;
    margin: 25px 0 0 0;
    padding: 0 16px 40px 16px;

    &_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
}

.label{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.13);

    &_up{
        position: relative;
        height: 10rem;
    }

    &_pic{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    &_new{
        position: absolute;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        top: 10px;
        right: 10px;
        border-radius: 2px;
        font-size: 0.8rem;
        padding: 6px 8px;
        font-weight: 500;
    }

    &_down{
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }

    &_text{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }

    &_name{
        margin: 0;
    }

    &_like{
        cursor: pointer;
        font-size: 1.3rem;
        
        &_on{
            position: absolute;
            right: 1.2rem;
            top: 1.2rem;
            color: $color-secondary;   
            opacity: 0;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
                        
            &:hover{
                transition-duration: 1s;
                opacity: 1;
            }
        }

        &_off{
            position: absolute;
            right: 1.2rem;
            top: 1.2rem;
            opacity: 1;
                        
            &:hover{
                transition-duration: 1s;
                opacity: 0;
            }
        }
    }
}

.footer{
    background: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1.5rem 1rem;
    position: relative;

    &_logo{
        font-family: "Shrikhand", "sans-serif";
        font-size: 1.2rem;
    }

    &_links{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        &_text{
            margin: 0;
            font-size: 1rem;
        }

    }

}

.fa-handshake-angle{
    font-size: 0.8rem;
}

.spinner{
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_border{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.6rem solid transparent;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        position: absolute;
        animation: spinner-border 2s linear ;
    }
    &_text{
        font-family: "Shrikhand", "sans-serif";
        font-size: 1rem;    
    }
}

// Animation Loading spinner //

@keyframes spinner {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinner_border {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
