body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #fff;
}

* a {
    text-decoration: none;
    color: inherit;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header_logo {
    font-family: 'Shrikhand';
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.location{
    background-color: darken(#f3f3f3, 5%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    gap: 10px;
    color: darken(#f3f3f3, 60%);
    height: 40px;

    &_icon {
        font-size: 0.8rem;
    }

    &_btn{
        border-style: none;
        background-color: darken(#f3f3f3, 5%);
        display: flex;
        justify-content: center;
    
        &::placeholder{
            color: darken(#f3f3f3, 60%);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }
}


.explore{

    width: 100%;

    &_box{
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 35px 0;
        gap: 10px;
    }

    &_title{
        margin: 0;
        font-size: 1.3rem;
        padding: 0 75px;
        font-weight: 700;
    }

    &_text{
        margin: 0;
        font-size: 0.95rem;
        padding: 0 35px;
    }
    &_btn{
        color: #fff;
        box-shadow: 0 5px 10px 0 $color-secondary;
        border-radius: 90px;
        background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
        border: none;
        padding: 0 20px;
        margin-top: 15px;
    }
}

.process{

    padding: 35px 10px;

    &_title{
        margin: 0;
    }

    &_box{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &_stage{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        height: 55px;
        border-radius: 15px;
        background: #f6f6f6;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.13);

            &_number{
                width: 20px;
                height: 20px;
                margin-left: -8px;
                background: $color-primary;
                border-radius: 20px;
                color: #fff;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_icon{
                width: 16px;
                color: darken(#f3f3f3, 60%);
            }

            &_text{
                font-size: 0.9rem;
                font-weight: 500;
            }
    }
}

.restaurant{
    background-color: #f6f6f6;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.label{
    background-color: #fff;
    position: relative;

    &_up{
        position: relative;
    }

    &_pic{
        position: relative;
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    &_new{
        position: absolute;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        top: 1rem;
        right: 1rem;
    }
}