.header{

    &_arrow{
        position: absolute;
        font-size: 1.2rem;
        left: 1rem;
    }
}

.img_menu{
    position: relative;
    width: 100%;
}

.menu{
    padding: 1.1rem 1rem 1rem 1rem;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    margin: -3rem 0 0 0;    
    width: 100%;
    box-sizing: border-box;

    &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &_title{
            font-family: "Shrikhand", "sans-serif";
            font-size: 1.6rem;
            margin: 0;
        }

        &_like{
            cursor: pointer;
        }    

        &_likeon{
            position: absolute;
            right: 2rem;
            top: 1.625rem;
            color: $color-secondary;   
            opacity: 0;
            font-size: 1.3rem;
        }

        &_likeoff{
            position: absolute;
            right: 2rem;
            top: 1.625rem;
            opacity: 1;
            font-size: 1.3rem;
        }
    }
}

.bloc{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_title{
        font-weight: 400;
        position: relative;
        
        &::after{
            content: "";
            background-color: $color-tertiary;
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width: 2.9rem;
            height: 0.2rem;
        }
    }

    &_item{
        padding: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.13);
        overflow: hidden;
        cursor: pointer;
        animation: slide-up 1s;

        &:hover{
            .bloc_check{
                margin: -1rem -1rem -1rem 0rem;
                transition-duration: 0.5s;
            }

            .bloc_check_icon{
                -webkit-animation: rotate-center 0.5s ease-in-out both;
                animation: rotate-center 0.5s ease-in-out both;
            }
        }
    }

    &_text{
        display: flex;
        flex-direction: column;
        gap: 0.2rem; 
        white-space: nowrap;
        overflow: hidden;
        flex: 1;

        &_name{
            font-size: 16px;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &_desc{
            font-size: 14px;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &_price{
        font-size: 0.9rem;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 0.9rem 0 0.7rem;
        transition-duration: 1s;
    }

    &_check{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        margin: -1rem -5rem -1rem 0;
        width: 4rem;

        &_icon{
            background-color: #fff;
            border-radius: 100px;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-tertiary;
            font-weight: 500;
        }
    }
}

@-webkit-keyframes scale-down-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(0.3);
              transform: scaleX(0.3);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-down-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(0.3);
              transform: scaleX(0.3);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  

  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

@-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
@for $i from 1 through 3 {
    .bloc .bloc_item:nth-of-type( #{$i}) {
        animation-delay: ($i $ 50ms);
    }
}

@keyframes slide-up{

}
